@import "tailwindcss";

:root {
  --sbc-black: #101010;
  --sbc-gray: #818181;
  --sbc-gray-light: #e1e1e1;
  --sbc-off-white: #fcfcfc;
  --sbc-gold: #b88f3f;
  --sbc-gold-dark: #96732f;
  --sbc-white: #ffffff;

  --background: var(--sbc-off-white);
  --foreground: var(--sbc-black);
}

@theme inline {
  --color-sbc-black: var(--sbc-black);
  --color-sbc-gray: var(--sbc-gray);
  --color-sbc-gray-light: var(--sbc-gray-light);
  --color-sbc-off-white: var(--sbc-off-white);
  --color-sbc-gold: var(--sbc-gold);
  --color-sbc-gold-dark: var(--sbc-gold-dark);
  --color-sbc-white: var(--sbc-white);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), system-ui, sans-serif;
}
